<figure>
    <img src = "/img/CSUMB-Logo.png" alt = "CSUMB Logo"/>
</figure>
<hr>
<div>
    CST 336 Internet Programming. 2019 Gonzalez <br/>
    <strong>Disclaimer</strong> The content of this webpage is for 
    academic purposes only.
</div>
<br>
<hr>
<%= date %>
</footer>
</body>
</html>