<!DOCTYPE html>
<html>
    
    <!--
    Marcus Gonzalez
    First website
    -->
    <head>
        <meta charset = "utf-8"/>
        <title> Ransomware</title>
        <link href = "/css/styles.css" rel = "stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Monoton&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <h1>Ransomware</h1>
        </header>
        <hr style="width:50%">
        <nav id="page">
            <a href = "/">Home</a>
            <a href = "/phishing">Phishing</a>
            <a class='active-page' href = "/ransomware">Ransomware</a>
            <a href = "/malware">Malware</a>
            <a href = "/sengineering">Social Engineering</a>
        </nav>
        
        <br /> <br />
        <div id = "content">
            <figure>
                <img src = "/img/ransomware.png" alt = "Ransomware Graphic"/>
            </figure>
            <p><em>Ransomware</em> is a form of malware that aims to lockdown a company system until a ransom is paid.
                This form of ransomware has been devastating for organizations and has seen ransoms paid of
                over $500,000. Ransomware does not only affect companies however, and therefore average citizens
                should be aware of potentially harmful links and emails.
            </p>
        </div>
        
        <footer>
                <a href="https://www.us-cert.gov/Ransomware" target="_blank">Ransomware Source</a>
                <hr>
                <% include partials/footer.ejs %>