<!DOCTYPE html>
<html>
    
    <!--
    Marcus Gonzalez
    First website
    -->
    <head>
        <meta charset = "utf-8"/>
        <title> Social Engineering</title>
        <link href = "/css/styles.css" rel = "stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Monoton&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <h1>Social Engineering</h1>
        </header>
        <hr style="width:50%">
        <nav id="page">
            <a href = "/">Home</a>
            <a href = "/phishing">Phishing</a>
            <a href = "/ransomware">Ransomware</a>
            <a href = "/malware">Malware</a>
            <a class='active-page' href = "/sengineering">Social Engineering</a>
            </nav>
        
        <br /> <br />
        <div id = "content">
            <figure>
                <img src = "/img/sengineering.png" alt = "Social Engineering Graphic"/>
            </figure>
            <p>
                <em>Social Engineering</em> is the act of probing people for information that can then be used 
                for a virtual attack. Social engineering is done primarily through phishing, and these 
                attacks can come from trusted sources.
            </p>
        </div>
        
        <footer>
                <a href="https://www.webroot.com/ie/en/resources/tips-articles/what-is-social-engineering" target="_blank">Social Engineering Source</a>
                <hr>
                <% include partials/footer.ejs %>